.content {display: inline-flex;
          gap: 30px;}

 body {background-image: url('index.jpeg');
       background-size: cover;}
 
.logo { width: 70px;
        height: 70px;}

.plz{ margin: 30px;
    font-size: 15px;
     color: black;}

.pic{width: 300px;  
    height:200px;
    align-self: flex-end}



.footer{ position: fixed;
         left: 0;
         bottom: 0;
         width: 100%;
         background-color: transparent;
         color:black;
         text-align: center;
         font-family: cursive;
         font-size: 20px;
        }
        